#batman {
  font-style: oblique;
  color: brown;
}

#wonderwoman {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: medium;
}

#superman {
  font-style: italic;
  color: lightcoral;
}

#spiderman {
  font-weight: bold;
  color: lightseagreen;
}

#ironman {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

#thor {
  font-size: large;
  color: lime;
}

* {
  background-color: linen;
  padding: 1px;
}
